<div class = "header">
  <div class = "header-logo">
    <%= link_to("学連カヌーWebシステム", "/") %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="flash" >
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "main">
<%= link_to("エントリー登録", "/reg/top" ) %><br>
<br>
スタートリスト・記録速報<br>
<br>
<%= link_to("管理ページ", "/operations/top") %> <br>
</div>
