// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: #3ecdc6;
  padding-right: 10px;
}

.header-logo {
  color: white;
  font-size: 30px;
}

.header-logo a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 10px;
}

.header-menus{
  padding-left: 10px
}

.header-menus a{
  color: white;
  text-decoration: none;
}

.flash{
  padding-left: 10px;
  background-color: #F4A460;
  color: white;
}

.main{
  padding-left: 10px;
  padding-top: 10px
}

.main a{
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-color: black;
  text-align: center;
}

td{
  padding: 5px 5px;
}

th {
  background-color: #96fae9;

}

.players {
  max-width: 600px;
  overflow: auto;
  table {
    table-layout: fixed;
    word-wrap: break-word;
    min-width: 100%;
  }
  tbody td:nth-child(1) {
    width: 100px;
    min-width: 100px;
  }
  tbody td:nth-child(2) {
    width: 120px;
    min-width: 120px;
  }
  tbody td:nth-child(3) {
    width: 20px;
    min-width: 20px;
  }
  tbody td:nth-child(4) {
    width: 20px;
    min-width: 20px;
  }
  tbody td:nth-child(5) {
    width: 50px;
    min-width: 50px;
  }
  tbody td:nth-child(6) {
    width: 50px;
    min-width: 50px;
  }
}
