// Place all the styles related to the substitutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.substitutes {
  max-width: 600px;
  overflow: auto;
  table {
    table-layout: fixed;
    word-wrap: break-word;
    min-width: 100%;
  }
  tbody td:nth-child(1) {
    width: 100px;
    min-width: 100px;
  }
  tbody td:nth-child(2) {
    width: 100px;
    min-width: 100px;
  }
  tbody td:nth-child(3) {
    width: 100px;
    min-width: 100px;
  }
  tbody td:nth-child(4) {
    width: 20px;
    min-width: 20px;
  }
}
